@page
@model MedicaiFacility.RazorPage.Pages.Patients.CreateAppointmentModel
@{
}
<div class="text-center">
    <h1 class="display-4">Create Appointment</h1>
</div>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
<div class="container">
    <div class="mb-3 mt-3">
        <form asp-page="/Patients/CreateAppointment" method="post">
            <input type="number" hidden="hidden" class="form-control" asp-for="Appointment.PatientId" value="@Model.PatientId" />
            <input type="number" hidden="hidden class="form-control" asp-for="Appointment.TransactionId" value="@Model.TransactionId" />
            <input hidden="hidden" type="number" class="form-control"  value="@Model.MedicalExpert.ExpertId" asp-for="Appointment.ExpertId" />
            <input type="number" class="form-control" hidden="hidden" asp-for="Appointment.FacilityId" value="@Model.MedicalExpert.FacilityId" />

            <div class="mb-3">
                <label class="form-label">Patient infor</label>
                <input type="text" class="form-control" value="@Model.Patient.PatientNavigation.FullName @Model.Patient.PatientNavigation.PhoneNumber" disabled />
            </div>
            <div class="mb-3">
                <label class="form-label">Facility Name</label>
                <input type="text" class="form-control" value="@Model.MedicalExpert.Facility.FacilityName" disabled="disabled" />
            </div>
            <div class="mb-3">
                <label class="form-label">Facility Address</label>
                <input type="text" class="form-control" value="@Model.MedicalExpert.Facility.Address" disabled="disabled" />
            </div>
            <div class="mb-3">
                <label class="form-label">Facility Contact</label>
                <input type="text" class="form-control" value="@Model.MedicalExpert.Facility.ContactInfo" disabled="disabled" />
            </div>
            <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control" asp-for="Appointment.StartDate" required />
            </div>
            <div class="mb-3">
                <label class="form-label">End Date</label>
                <input type="datetime-local" class="form-control" asp-for="Appointment.EndDate" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Appointment</button>
            </div>
        </form>
    </div>
</div>

