@page
@model MedicaiFacility.RazorPage.Pages.Transactions.EditModel
@{
    if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
    {
        Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    }
}

<div class="text-center">
    <h1 class="display-4">Edit Transaction</h1>
</div>
<div>
    <p class="btn btn-primary">Total Balance: @Model.TotalBalance</p>
</div>
<div class="container">
    <div class="mb-3 mt-3">
        <form asp-page="/Transactions/Edit" method="post">
            <input hidden="hidden" type="text" class="form-control" asp-for="Transaction.UserId" readonly />

            <input hidden="hidden" type="text" class="form-control" asp-for="Transaction.TransactionId" />

            <div class="mb-3">
                <label class="form-label">Payment Method</label>
                <select class="form-control" asp-for="Transaction.PaymentMethod">
                    <option value="Credit Card">Credit Card</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="text" step="0.01" class="form-control" asp-for="Transaction.Amount" placeholder="Enter transaction amount" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Transaction Status</label>
                <select class="form-control" asp-for="Transaction.TransactionStatus">
                    <option value="Pending" selected="@(Model.Transaction.TransactionStatus == "Pending" ? "selected" : null)">Pending</option>
                    <option value="Success" selected="@(Model.Transaction.TransactionStatus == "Success" ? "selected" : null)">Success</option>
                    <option value="Failed" selected="@(Model.Transaction.TransactionStatus == "Failed" ? "selected" : null)">Failed</option>
                    <option value="InActive" selected="@(Model.Transaction.TransactionStatus == "InActive" ? "selected" : null)">InActive</option>

                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Transaction</button>
            </div>
        </form>
    </div>
</div>