@page
@model MedicaiFacility.RazorPage.Pages.Admin.WaittingToApproveListModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Expert ID</th>
            <th>Expert Name</th>
            <th>Expert Email</th>
            <th>Expert Phone number</th>
            <th>Specialization</th>
            <th>Experience Years</th>
            <th>Department</th>
            <th>Price Booking</th>
            <th>Facility ID</th>
            <th>Schedule</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicalExpert in Model.MedicalExperts)
        {
            <tr>
                <td>@medicalExpert.ExpertId</td>
                <td>@medicalExpert.FullName</td>
                <td>@medicalExpert.Email</td>
                <td>@medicalExpert.PhoneNumber</td>
                <td>@medicalExpert.Specialization</td>
                <td>@medicalExpert.ExperienceYears</td>
                <td>@medicalExpert.Department</td>
                <td>@medicalExpert.PriceBooking?.ToString("F2")</td>
                <td>@medicalExpert.FacilityName</td>
                <td>@string.Join(", ", medicalExpert.ScheduleDays)</td>
                <td>
                    <form method="post" asp-page-handler="Approve" asp-route-id="@medicalExpert.ExpertId">
                        <button type="submit" class="btn btn-outline-primary">Approve</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?pg=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
