@page
@model MedicaiFacility.RazorPage.Pages.HealthRecordModel
<h2>Health Records</h2>

<table class="table">
    <thead>
        <tr>
            <th>Record ID</th>
            <th>Patient Name</th>
            <th>Uploaded By</th>
            <th>File Name</th>
            <th>Created At</th>
            <th>Dowload File Health Record</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.healthRecords)
        {
            <tr>
                <td>@record.RecordId</td>
                <td>@record.Patient.User.FullName</td>
                <td>@record.UploadedByNavigation.User.FullName</td>
                <td>@record.FileName</td>
                <td>@record.CreatedAt?.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    <a href="@record.FilePath" target="_blank">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
