@page
@model MedicaiFacility.RazorPage.Pages.HealthRecords.EditModel
@{
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
<div class="container">
    <form asp-page="/HealthRecords/Edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">HealthRecordId</label>
            <input type="text" class="form-control" asp-for="HealthRecord.RecordId" readonly />
        </div>
      
        <div class="mb-3">
            <label class="form-label">FileName</label>
            <input type="text" class="form-control" asp-for="HealthRecord.FileName" />
        </div>
        <div class="mb-3">
            <label class="form-label">FilePath</label>
            <input type="file" name="file" class="form-control" value="@Model.HealthRecord.FilePath" asp-for="HealthRecord.FilePath" />
        </div>
        <div class="mb-3">
            <label class="form-label">TestResult</label>
            <input type="text" class="form-control" asp-for="HealthRecord.TestResult" />
        </div>
        <div class="mb-3">
            <label class="form-label">Diagnosis</label>
            <input type="text" class="form-control" asp-for="HealthRecord.Diagnosis" />
        </div>
        <div class="mb-3">
            <label class="form-label">Prescription</label>
            <input type="text" class="form-control" asp-for="HealthRecord.Prescription" />
        </div>
s   
     
        <div class="mb-3">
            <label class="form-label">SharedLink</label>
            <input type="text" class="form-control" asp-for="HealthRecord.SharedLink"  />
        </div>
        <div class="mb-3">
            <label class="form-label">Diseases - Department</label>

            <div id="selected-diseases-container" class="mb-2">
                <!-- Hiển thị những bệnh đã chọn -->
                @foreach (var disease in Model.Diseases)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input disease-checkbox"
                               id="disease-@disease.Value" value="@disease.Value"
                               name="SelectedDiseaseIds"
                        @(Model.SelectedDiseaseIds.Contains(disease.Value) ? "checked" : "") />
                        <label class="form-check-label" for="disease-@disease.Value">@disease.Text</label>
                    </div>
                }
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">IsActice</label>
            <select class="form-control" asp-for="HealthRecord.IsActive">
                <option value="true" selected="@(Model.HealthRecord.IsActive == true ? "selected" : null)">Active</option>
                <option value="false" selected="@(Model.HealthRecord.IsActive == false ? "selected" : null)">Inactive</option>
            </select>
        </div>
        <button class="btn btn-primary">save</button>
   </form>

</div>

